.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: black;
    min-height: 100vh;
}

header {
    height: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.gifBtn {
    background-color: black;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    margin: 20px;
    padding: 10px;
}

.gifBtn {
    background-image: url("https://i.giphy.com/media/tEMg2OuH4Az0Q/giphy.webp");
    background-color: darkmagenta;
}

#gifSection {
    float: left;
    height: auto;
    margin: 20px;
    width: 90%;
}

.gifContainer {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.info {
    background-color: rgba(107, 107, 122, 0.9);
    color: white;
    padding: 7px;
    position: absolute;
    top: 0;
}

#download {
    color: lime;
    font-size: 24px;
    margin-top: 5px;
}

#favorite {
    color:coral;
    font-size: 24px;
    margin-top: 5px;
}

.title,
.rating {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px; 
    line-height: 1.2;
}

#gifForm {
    background-color: none;
    color: white;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: italic;
    height: 30px;
    margin: 26px 50px 0 0;
    position: fixed;
    right: 0;
    top: 40;
    width: auto;
    z-index: 10000;

    /* trying to show/hide */
    display: none;
}

#formButton {
    background-color: none;
    color: white;
    font-size: 40px;
    margin: 20px 20px 0 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 40;
}

#favsWindow {
    background-color: none;
    color: white;
    font-size: 40px;
    margin: 80px 15px 0 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 40;
}

button {
    background: none;
    border: none;
}

button:focus,
button:active {
    outline: none;
}

#gifInput,
#gifSubmit {
    margin-top: 10px;
}

#gifInput {
    font-size: 16px;
    padding: 4px;
}

#gifSubmit {
    background: white;
    border: none;
    margin: 0 10px 0 5px;
    padding: 8px;
}

