.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: black;
    min-height: 100vh;
}

.gifBtn {
    background-color: black;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 3px;
    margin: 20px;
    padding: 10px;
}

.gifBtn {
    background-image: url("https://i.giphy.com/media/tEMg2OuH4Az0Q/giphy.webp");
}

#gifSection {
    float: left;
    height: auto;
    margin: 20px;
    width: 65%;
}

.gifContainer {
    display: inline-block;
    position: relative;
}

.info {
    background-color: rgba(107, 107, 122, 0.9);
    color: white;
    padding: 7px;
    position: absolute;
    top: 0;
}

#download {
    margin-top: 5px;
}

.title,
.rating {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px; 
    line-height: 1.2;
}

#gifForm {
    background-color: none;
    color: white;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: italic;
    margin: 20px 40px 0 0;
    position: relative;
    right: 0;
    top: 0;
    width: auto;
}

/* FIX #GIFFORM TO THE TOP RIGHT OF THE PAGE */
/* MAKE IT HIDDEN  */
/* MAKE A BUTTON (+) THAT HIDES ITSELF WHEN CLICKED AND SHOWS THE FORM IN ITS PLACE */
/* THE FORM RETURNS TO HIDDEN AFTER THE USER INPUT IS SUBMITTED */
/* AND THE BUTTON RE-APPEARS */

#gifInput,
#gifSubmit {
    margin-top: 10px;
}

#gifInput {
    font-size: 16px;
    padding: 4px;
    width: 80%;
}

#gifSubmit {
    background: white;
    border: none;
    margin-left: 5px;
    padding: 9px;
}

